/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
  min-height: 450px
}


/* Set positioning */

.sub-header {
  padding: 20px 0px;
  text-align: center;
}


/* 50px padding or height*/

footer {
  padding-bottom: 50px;
}


/* Set 100% height */

.sidenav {
  padding-top: 20px;
  height: 100%;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}