<!--Bower inclusions-->
<link rel="import" href="bower_components/paper-tabs/paper-tabs.html">

<!--Custom components inclusions-->
<link rel="import" href="src/team-summit-tabs/team-summit-tabs.html">
<link rel="import" href="src/team-summit-header/team-summit-header.html">
<link rel="import" href="src/team-summit-controller/team-summit-controller.html">
<link rel="import" href="src/team-summit-session-item/team-summit-session-item.html">
<link rel="import" href="src/team-summit-session-detailed/team-summit-session-detailed.html">
