<!-- Header component -->
<!-- Sets a atlassian blue themed header -->
<!-- Sets atlassian-brand logo -->
<!-- Responsive -->
<dom-module id="team-summit-controller">
   <template>

      <!-- CUSTOM STYLES -->
      <style>
         :host {
         font-family: 'Open Sans', sans-serif;
         height: 100%;
         width: 100%;
         }
      </style>

      <!-- VIEW -->
      <content id="content"></content>
   </template>
   <script>
      Polymer({
        is: 'team-summit-controller',
        properties: {}
      });
   </script>
</dom-module>