<!-- Detailed session component -->
<dom-module id="team-summit-session-detailed">

  <template>

    <!-- CUSTOM STYLES -->
    <style>
      :host {
        letter-spacing: 0.2px;
      }


      /* Set font & pad styling */

      .title {
        font-size: 35px;
        color: #005084;
        font-weight: 800;
        line-height: 45px;
        padding-top: 15px;
      }


      /* Set font & pad styling */

      .speaker-list {
        font-size: 12px;
        font-weight: 700;
        padding: 15px 0px;
        color: #005084;
      }


      /* Set font styling */

      .speaker-about,
      .desc {
        font-size: 15px;
        font-family: sans-serif;
        line-height: 20px;
      }

      .q-and-a-link {
        padding: 15px 0px;
      }


      /* Set font & pad styling */

      .about-the-speaker {
        font-size: 25px;
        color: #005084;
        font-weight: 800;
        line-height: 45px;
        padding-bottom: 10px;
      }

      .speaker-title {
        padding-bottom: 15px;
      }


      /* Set font & pad styling */

      .speaker-name {
        font-size: 14px;
        font-weight: 700;
      }


      /* Set font & pad styling */

      .speaker-about {
        font-size: 13px;
      }


      /* Accompanies "secondary" class */

      .Activities,
      .Training {
        display: none;
      }

    </style>

    <!-- VIEW -->
    <div class="">
      <template is="dom-if" if$="{{session.Id}}">
        <div class="title">{{session.Title}}</div>
        <div class="speaker-list">
          <template is="dom-repeat" items="{{session.Speakers}}" as="speaker">
            <div class="">{{speaker.firstNameLastNameCompany}}</div>
          </template>
        </div>

        <p class="desc">{{session.Description}}</p>

        <div class$="{{session.Track.Title}} secondary">
          <div class="q-and-a-link">
            <a href="#" Title="Q&A">
              See the Q&A from this talks and others here.
            </a>
          </div>

          <div class="about-the-speaker">
            About the speaker
          </div>

          <div class="speaker-desc-list">
            <template is="dom-repeat" items="{{session.Speakers}}" as="speaker">
              <div class="speaker-title">
                <span class="speaker-name">{{getSpeakerName(speaker)}}</span>
                {{getSpeakerTitle(speaker)}}
              </div>
              <p class="speaker-about">{{speaker.Biography}}</p>
            </template>
          </div>
        </div>
      </template>
    </div>

  </template>

  <script>
    Polymer({
        is: 'team-summit-session-detailed',
        /**
         * @description - properties for this component
         */
        properties: {
            /**
             * @description - Model that governing the display
             * @value : Object
             */
            session: {
                type: Object,
                value: {}
            }
        },

        /**
         * @description - Extract title & company for a given speaker if present
         * @utility
         * @param {object} speaker - speaker object from speakers array
         * @returns string in ", SpeakerTitle, companyName" format
         */
        getSpeakerTitle: function(speaker) {
            var resultStr = speaker.Title ? ", " + speaker.Title : "";
            resultStr += speaker.Company ? ", " + speaker.Company : "";
            return resultStr;
        },

        /**
         * @description - Extract name for a given speaker if present
         * @utility
         * @param {object} speaker - speaker object from speakers array
         * @returns string in "Firstname Lastname" format
         */
        getSpeakerName: function(speaker) {
            return speaker.FirstName + " " + speaker.LastName;
        }
    });
  </script>

</dom-module>