<!-- Single session item component -->
<dom-module id="team-summit-session-item">

  <template>

    <!-- CUSTOM STYLES -->
    <style>
      /* Set font styling */

       :host {
        cursor: pointer;
        letter-spacing: 0.2px;
      }


      /* Set BG for a selected item */

      .selected {
        background: #F5F5F5;
      }


      /* Set title font styling */

      .session-title {
        font-size: 14px;
        font-weight: 600;
        color: #005084;
      }


      /* Set speaker font styling */

      .session-speaker {
        font-size: 12px;
        font-weight: 500;
        color: #707070;
      }


      /* Set pad & border styling */

      .session-item {
        padding: 11px;
        border-bottom: 1px #CDCDCD solid;
      }
    </style>

    <!-- VIEW -->
    <div class$="session-item {{selectedState}}">
      <div class="session-title">{{session.Title}}</div>
      <template is="dom-repeat" items="{{session.Speakers}}" as="speaker">
        <div class="session-speaker">{{speaker.firstNameLastNameCompany}}</div>
      </template>
    </div>
  </template>

  <script>
    /**
     * @description - Single session item component. Used for
     * @description - showing the sessions list for a given track
     */
    Polymer({
        is: 'team-summit-session-item',

        /**
         * @description - properties
         */
        properties: {

            /**
             * @description - Value that makes this session item to "selected"
             * @description - status. Apply the "selected" class to this component
             * @value : String ("" or "selected")
             */
            selectedState: {
                type: String,
                notify: true,
                reflectToAttribute: true,
                value: ""
            },

            /**
             * @description - Value holding which track this session belongs to
             * @value : String
             */
            track: {
                type: String,
                notify: true,
                reflectToAttribute: true
            },
            /**
             * @description - Index of this component in the list
             * @value : Number
             */
            index: {
                type: Number,
                notify: true,
                reflectToAttribute: true
            }
        },

        listeners: {
            'click': 'clickListener'
        },
        /**
         * @description - Propogates an modified click event to parent
         * @eventListener
         * @param {object} e - click event
         * @returns null
         */
        clickListener: function(e) {
            this.fire('sessionChanged', {
                id: this.id,
                track: this.track,
                index: this.index
            });
        }
    });
  </script>

</dom-module>